<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="NFineDbContext" connectionString="server=localhost;uid=sa;pwd=!QAZ1qaz;database=EcWeb20" providerName="System.Data.SqlClient" />-->
    <add name="NFineDbContext" connectionString="server=47.92.160.129;uid=sa;pwd=yc#654321;database=EcWeb20" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>


    <!--<add key="MailServer" value="smtp.163.com" />
    <add key="MailPassword" value="kehaitao123456" />
    <add key="MailUserName" value="kehaitao_0@163.com" />
    <add key="MailPost" value="465" />-->
    
    <!--<add key="MailServer" value="smtp.c2.corpease.net" />
    --><!--<add key="MailPassword" value="x7wQ8obhr8C02nee" />--><!--
    <add key="MailPassword" value="lxOE8DqIaeSrioe0" /> 
    --><!--<add key="MailUserName" value="webmaster@dynaso.com.cn" />--><!--
    <add key="MailUserName" value="chineseautoregs@dynaso.com.cn" />
    <add key="MailPost" value="465" />-->
    
     <add key="MailServer" value="smtpdm.aliyun.com" /> 
    <add key="MailPassword" value="QWEqwe123456" />  
    <add key="MailUserName" value="webmaster@chineseautoregs.com" />
    <!--<add key="MailUserName" value="service@chineseautoregs.com" /> 批量发邮件-->
    <add key="MailPost" value="465" />
    
    
    
    <!--<add key="MailServer" value="smtp.qq.com" />
    <add key="MailPassword" value="gcaqbjankjlwbidj" />
    <add key="MailUserName" value="99680995@qq.com" />
    <add key="MailPost" value="587" />-->
    
    
    <add key="HostAddr" value="http://www.chineseautoregs.com/" />
    <add key="wkhtmltopdfAddr" value="D:\work\vsproject\SoftwareSystem\wkhtmltopdf.exe" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>