@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
	$(document).ready(function () {
		//1.初始化Table
		var oTable = new TableInit();
		oTable.Init();

	});
	var TableInit = function () {
		var oTableInit = new Object();
		//初始化Table
		oTableInit.Init = function () {
			$('#tb_departments').bootstrapTable({
                url: '/AuxiliaryManag/Subscription/GetGridJson',         //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                checkboxHeader: false,
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: false,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 1000,                       //每页的记录行数（*）
                pageList: [1000, 2500, 5000, 10000],        //可供选择的每页的行数（*）
                search: false,                       //是否显示表格搜索
                strictSearch: false,
                showColumns: false,                  //是否显示所有的列
                showRefresh: false,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: false,                //是否启用点击选中行
                height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
              
				columns: [{
					checkbox: false,
					visible: false
                },
                {
                field: 'F_ChineseTitle',
				title: '中文标题'
                },
                {
                    field: 'F_EnglishTitle',
                    title: '英文标题'
                },
                {
                    field: 'F_ReleaseDate',
                    title: '发布日期',
                    formatter: function (value) {
                        return changeDateFormat(value)
                    }
                },
                {
				    field: 'Button',
				    title: '操作',
				    events: operateEvents,
				    formatter: AddFunctionAlty
                }
                ]
			});
		};

		//得到查询的参数
        oTableInit.queryParams = function (params) {
			var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                keyword: '',
                sidx: 'F_Id',   //页面大小
                sord: 'asc',  //页码
                limit: params.limit,
                offset: params.offset
			};
			return temp;
		};
		return oTableInit;
	};

	//修改——转换日期格式(时间戳转换为datetime格式)
	function changeDateFormat(cellval) {
		if (cellval != null) {
			var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
			var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
			var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
			return date.getFullYear() + "-" + month + "-" + currentDate;
		}
	}

    function AddFunctionAlty(value, row, index) {
        if (row.F_IsSend == true) {
            $("#btn_SubscriptionEmail").attr('disabled', true);
            //$('#btn_SubscriptionEmail').hide();
        } else {
            //$("#btn_SubscriptionEmail").attr('disabled', true);
            //$('#btn_SubscriptionEmail').show(); 
        }
        if (row.F_IsExclude == true) {//已排除订阅，点击 取消排除订阅
            return [
                '<button class="btn btn-info btn-xs" id="TableNoExclude">取消排除订阅</button> &nbsp;&nbsp;'
            ].join("");
        } else { 
            return [
                '<button class="btn btn-info btn-xs" id="TableExclude">排除订阅</button> &nbsp;&nbsp;'
            ].join("");
        } 
	}
	window.operateEvents = {
		 
		"click #TableNoExclude": function (e, value, row, index) {
			swal({
                title: "取消排除订阅",
                text: "您确定要取消排除订阅该数据吗？",
				type: "warning",
				showCancelButton: true,
				cancelButtonText: "取消",
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "确定",
				closeOnConfirm: false
			}, function () {
				$.ajax({
                    url: "/AuxiliaryManag/Subscription/NoExclude",
					type: 'post',
					data: { keyValue: row.F_Id },
					success: function (result) {
                        if (result == '操作成功') {
							setTimeout(function () {
								toastr.options = {
									closeButton: true,
									progressBar: true,
									showMethod: 'slideDown',
									timeOut: 500
								};
                                toastr.success('操作成功！');
							}, 100);
							setTimeout(function () {
								window.location.reload();
							}, 600);
						}
					}
				});
			});
        },

        "click #TableExclude": function (e, value, row, index) {
            swal({
                title: "排除订阅",
                text: "您确定要排除订阅该数据吗？",
                type: "warning",
                showCancelButton: true,
                cancelButtonText: "取消",
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确定",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    url: "/AuxiliaryManag/Subscription/Exclude",
                    type: 'post',
                    data: { keyValue: row.F_Id },
                    success: function (result) {
                        if (result == '操作成功') {
                            setTimeout(function () {
                                toastr.options = {
                                    closeButton: true,
                                    progressBar: true,
                                    showMethod: 'slideDown',
                                    timeOut: 500
                                };
                                toastr.success('操作成功！');
                            }, 100);
                            setTimeout(function () {
                                window.location.reload();
                            }, 600);
                        }
                    }
                });
            });
        }
	}

	function btnQuery() {
		$.ajax({
			type: "get",
            url: "/AuxiliaryManag/Subscription/GetGridJson",
            data: { keyword: '', limit: 10000, offset: 0 },
			dataType: "json",
			success: function (json) {
				$("#tb_departments").bootstrapTable('load', json);
			}
		});
	}
    
    function btnSubscriptionEmail() {
        $.ajax({
            url: "/AuxiliaryManag/Subscription/SubscriptionEmail",
            type: 'post',
            data: {  },
            success: function (result) {
                if (result == '操作成功') {
                    setTimeout(function () {
                        toastr.options = {
                            closeButton: true,
                            progressBar: true,
                            showMethod: 'slideDown',
                            timeOut: 500
                        };
                        toastr.success('操作成功！');
                    }, 100);
                    setTimeout(function () {
                        window.location.reload();
                    }, 600);
                }
            }
        });
       
    }

    //function btnpdf() {
    //    var pdfID = $("#pdfID").val();
    //    $.ajax({
    //        url: "/AuxiliaryManag/Subscription/CreatePdf?id=" + pdfID,
    //        type: 'post',
    //        data: {},
    //        success: function (result) {
    //            if (result == '操作成功') {
    //                setTimeout(function () {
    //                    toastr.options = {
    //                        closeButton: true,
    //                        progressBar: true,
    //                        showMethod: 'slideDown',
    //                        timeOut: 500
    //                    };
    //                    toastr.success('操作成功！');
    //                }, 100);
    //                setTimeout(function () {
    //                    window.location.reload();
    //                }, 600);
    //            }
    //        }
    //    });

    //}
</script>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                辅助管理-订阅发送管理
            </header>
            <div class="panel-body">
                <form class="form-inline" role="form">
                    @*<button type="button" class="btn btn-success" onclick="btnQuery()">查询</button>*@
                    <button type="button" class="btn btn-info" id="btn_SubscriptionEmail" onclick="btnSubscriptionEmail()">发布订阅</button>
                    @*<input type="text" id="pdfID" name="pdfId" />
                      <button type="button" class="btn btn-info" id="btn_pdf" onclick="btnpdf()">处理pdf</button>*@
                </form>
                <table id="tb_departments"></table>
            </div>
        </section>
    </div>
</div>
