
@{
    ViewBag.Title = "系统按钮";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function locationFtt(str) {
        if (str == 1) {
            return "初始";
        } else {
            return "选中";
        }
    }
    $(function () {
        $.ajax({
            url: '/SystemManage/Module/GetButtonTreeGridJson?keyValue='+'@ViewData["id"]',
            datatype: 'json',
            type: 'get',
            success: function (result) {
                var htmlData = '';
                var htmlId = '';
                if (result != '' && result != null) {
                    var obj = eval('(' + result + ')').rows;
                    $.each(obj, function () {
                        htmlId = '"' + this.F_Id + '"';
                        htmlData += '<tr>';
                        htmlData += '<td>' + this.F_FullName + '</td>';
                        htmlData += '<td>' + locationFtt(this.F_Location) + '</td>';
                        htmlData += '<td>' + this.F_JsEvent + '</td>';
                        htmlData += '<td>' + this.F_UrlAddress + '</td>';
                        htmlData += "<td>";
                        htmlData += "<button class='btn btn-primary btn-xs' onclick='btnUpdate(" + htmlId + ")'>编辑</button>&nbsp;&nbsp;";
                        htmlData += "<button class='btn btn-danger btn-xs' name='btnDelete' onclick='btnDelete(" + htmlId + ")'>删除</button>";
                        htmlData += "</td>";
                        htmlData += '</tr>';
                    });
                    $("#dataTbodyId").append(htmlData);
                }
            }
        });
    })
    function btnAddMenu() {
        window.location.href = '/SystemManage/Module/CreateButtonModel?moduleId='+'@ViewData["id"]';
    }

    // 编辑
    function btnUpdate(id) {
        window.location.href = "/SystemManage/Module/CreateButtonModel?keyValue=" + id + "&moduleId="+'@ViewData["id"]';
    }
    // 返回
    function btnBack() {
        window.location.href = '/SystemManage/Module/Index';
    }
    // 删除
    function btnDelete(id) {
        swal({
            title: "删除",
            text: "您确定要删除该数据吗？",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                url: "/SystemManage/Module/DeleteButtonForm",
                type: 'post',
                data: { keyValue: id },
                success: function (result) {
                    if (result == '删除成功') {
                        setTimeout(function () {
                            toastr.options = {
                                closeButton: true,
                                progressBar: true,
                                showMethod: 'slideDown',
                                timeOut: 1000
                            };
                            toastr.success('删除成功！');
                            window.location.href = '/SystemManage/Module/ButtonUpdateModel?keyValue=' + '@ViewData["id"]';
                        }, 0);
                    }
                }
            });
        });
    }
</script>
<div class="row wrapper border-bottom white-bg page-heading" style="margin-left: -0px;">
    <div class="col-lg-10">
        <ol class="breadcrumb" style="padding:10px 0px 0px 10px;">
            <li>
                <a>系统管理</a>
            </li>
            <li>
                <strong>系统菜单</strong>
            </li>
            <li class="active">
                <strong>按钮管理</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>分类列表</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-inline">
                        <button type="button" class="btn btn-default" id="btn_add" onclick="btnBack()">返回</button>
                        <button type="button" class="btn btn-info" id="btn_add" onclick="btnAddMenu()">新增</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>位置</th>
                                    <th>事件</th>
                                    <th>链接</th>
                                </tr>
                            </thead>
                            <tbody id="dataTbodyId"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
